{% extends "base.html" %} {% block title %}HOME{% endblock %} {% block content %}

<body>
    <div class="page-container">
        <header>
            <h1 class="page-heading">CONNECTECH</h1>
        </header>
    </div>
</body>

<style>
    .page-container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }

    .page-heading {
        text-align: center;
        font-size: 70px;
        font-weight: 600;
        background-image: linear-gradient(to left, #553c9a, #b393d3);
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
    }
</style>



<script>
    document.addEventListener('DOMContentLoaded', function () {
        const closeButtons = document.querySelectorAll('.flash-message .close');
        closeButtons.forEach(function (button) {
            button.addEventListener('click', function () {
                const flashMessage = this.parentNode;
                flashMessage.style.display = 'none';
            });
        });
    });
</script>
{% endblock %}